<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="css/default.css">
    <script src="js/keymaster.min.js"></script>
    <script src="js/zepto.min.js"></script>
    <script src="js/handlebars.min.js"></script>
    <script src="js/crutch.js"></script>
    <script>    
        $(document).ready(function() {
            key("ctrl+a", function() {
                $(".project_active").prop("checked",true);
                Crutch.filter();
            });
            key("ctrl+n", function() {
                $(".project_active").prop("checked",false);
                Crutch.filter();
            });
            key("ctrl+1", function() {
                window.open($(".entry:not(.hidden) a").attr("href"), "detail_pg");
            });
            // To be fixed and extended...
            key("ctrl+2", function() {
                window.open($($(".entry:not(.hidden) a")[1]).attr("href"));
            });
        });
    </script>

</head>
    <body>
        <div style="width:80%; margin:20px;">
        <div id="sidebar">
            <input id="search" type="text"/>
            {{#each projects}}
            <br><input class="project_active" type="checkbox" data-uid="{{this.uid}}" checked="checked" />{{this.project}}
            {{/each}}
        </div>
        <div id="main">
            {{#each projects}} <h1 class="project" id="{{this.uid}}">{{this.project}}</h1>
                {{#if this.description}}
                   {{this.description}}
                {{/if}}
                {{#each sections}}<h3 class="section" id="{{this.uid}}"> {{this.section}}</h3>
                {{#if this.description}}
                   {{this.description}}
                {{/if}}
                <table>
                    {{#each entries}}
                    <tr class="entry" id="{{this.uid}}">
                        {{#if this.term}}
                        <td>
                            {{#if this.entry_url }}
                            <a href="{{this.entry_url}}" target="detail_pg">{{{this.term}}}</a>
                            {{else}}
                            {{{this.term}}}
                            {{/if}}
                        </td>
                        {{/if}}
                        <td>{{{this.description}}}</td>
                    </tr>
                    {{/each}}
                </table>

                {{/each}}
            {{/each}}
        </div>
    </div>

    </body>
</html>

